.card-text {
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 15px;
  width: auto;
  color: #fff;
  text-align: left;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); */
  transition: 0.5;
  z-index: 3;
  margin: 20px;
}

h3 {
  margin: 0 !important;
  padding: 0 !important;
}
p {
  margin: 0 !important;
  padding: 0 !important;
}
.grid-section {
  width: 75%;
  margin-top: -4em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  column-count: 3;
  grid-gap: 2rem;
  position: relative;
}

.card {
  position: relative;
  height: 100%;
  padding: 10px;
  width: 100%;
  object-fit: cover;
}
img {
  width: 100%;
  border-radius: 8px;
}
